#bookContainer {
	font-family: 'Georgia', serif;
	font-size: 11pt;
	position: relative;
	max-width: 620px;
	margin: auto;
	background-color: #FAEBD7;
	margin-top: 0px;
}

@media screen and (min-height: 740px) {
	#bookContainer {
		margin-top: 40px;
	}
}

@media screen and (min-width: 520px) {
    #bookContainer {
        font-size: 12pt;
    }
}

#textContainer {
	background-color: #FAEBD7;
	margin: auto;
}

#text {
  text-align: justify;
  line-height: 160%;
  background-color: #FAEBD7;
/*
  transition: left 0.1s;
*/
}

a.wb-link {
	color: #424242;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

a.wb-link:hover {
	color: #000;
}

#toc {
	position: absolute;
	top: -1000px;
	width: 100%;
	height: 100%;
	background-color: #FAEBD7;
	z-index: 1000;
	overflow-y: auto;
	transition: top 0.3s;
	display: none;
}

#toc.show {
	top: 0px;
}

#toc > div {
	position: relative;
	padding: 35px;
}

#close {
	position: absolute;
	right: 5px;
	top: 5px;
	min-width: 25px;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: 'Helvetica', sans-serif;
	font-size: 1.2em;
	color: #424242;
}

.section-title, .notes-title, .table-title, .wb-toc-title {
	border-bottom: 1px solid black;
	font-size: 1.2em;
}

.section-title {
	padding-top: 50px;
}

.title {
	text-align: center;
}

.book-title {
	font-size: 1.3em;
	padding-top: 5%;
}

.book-subtitle {
	font-size: 1.1em;
}

#table a.wb-link, #toc a.wb-link {
	float: right;
	margin-right: 1em;
	vertical-align: top;
	text-align: left;
}

.wb-toc-item.current, .wb-toc-item.current a.wb-link {
	color: #8B0000;
}

#table p {
	clear: both;
}

#top {
	position: relative;
	box-sizing: border-box;
	padding-top: 6px;
	text-align: center;
	width: 100%;
	height: 25px;
}

.wb-current-section-title {
	font-size: 0.8em;
}

#bottom {
	position: relative;
	display: inline-block;
	height: 25px;
	width: 100%;
	text-align: center;
}

#bottom button {
	display: inline-block;
	border: none;
	background-color: transparent;
	margin-right: 10px;
	margin-left: 10px;
	min-width: 25px;
	padding: 0;
}

#showTable {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 1.4em;
}
